.achivements-header{
    height: 80vh;
}
.achivements-Heading-text{
    font-size: 48px;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #989898;
}

.achivements-Heading-image img{
    height: 400px;
    width: 400px;
    -webkit-animation: rotateY 1s infinite linear;
  animation: rotateY 5s infinite linear;
}
@-webkit-keyframes rotateY {
  to { -webkit-transform: rotateY(360deg); }
}
@keyframes rotateY {
  to { transform: rotateY(360deg); }
}
.description{
    color: #979797;
}