.blogMaze{
    width: 300px;
    height: 300px;
    clip-path : polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid black;
}

.blogs-header{
    height: 60vh;
}
.blogs-Heading-text{
    font-size: 144px;
    font-weight: 700;
    line-height: 170px;
    letter-spacing: 0.25em;
    color: #F8F8F869;
}
